[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/kokkos"]
	path = extern/kokkos
	url = https://github.com/kokkos/kokkos.git
[submodule "extern/simd-math"]
	path = extern/simd-math
	url = http://github.com/kokkos/simd-math
